version: "3.8"

services:
  mariadb:
    image: mariadb:0.1
    container_name: mariadb
    env_file:
      - .env
    build:
      context: ./requirements/mariadb
      args:
        - MYSQL_DATABASE=${MYSQL_DATABASE}
        - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
        - MYSQL_USER=${MYSQL_USER}
        - MYSQL_PASSWORD=${MYSQL_PASSWORD}
        - WP_ADM_USER=${WP_ADM_USER}
        - WP_ADM_HASH=${WP_ADM_HASH}
        - WP_USER=${WP_USER}
        - WP_HASH=${WP_HASH}
    volumes:
      - db_volume:/var/lib/mysql
    networks:
      - inception_net
    restart: always

  wordpress:
    image: wordpress:0.1
    container_name: wordpress
    env_file:
      - .env
    build:
      context: ./requirements/wordpress
      args:
        - MYSQL_HOST=${MYSQL_HOST}
        - MYSQL_DATABASE=${MYSQL_DATABASE}
        - MYSQL_USER=${MYSQL_USER}
        - MYSQL_PASSWORD=${MYSQL_PASSWORD}

    volumes:
      - wp_volume:/var/www/html
    networks:
      - inception_net
    depends_on:
      - mariadb
    restart: always

  nginx:
    image: nginx:0.1
    container_name: nginx
    build:
      context: ./requirements/nginx
    ports:
      - "443:443"
    volumes:
      - wp_volume:/var/www/html
    networks:
      - inception_net
    depends_on:
      - wordpress
    restart: always

volumes:
  wp_volume:
    driver: local
    driver_opts:
      type: none
      device: /home/coelho/data/wordpress
      o: bind

  db_volume:
    driver: local
    driver_opts:
      type: none
      device: /home/coelho/data/mariadb
      o: bind

networks:
  inception_net:
